<ion-app>
  <header
    class="ion-padding"
    [class.separatorLine]="!hideSeparatorLine"
  >
    <ion-toolbar>
      <div class="ion-text-center logo" slot="start">
        <ion-icon src="/assets/joklogo.svg"></ion-icon>
      </div>

      <ion-segment
        class="desktopScreen"
        color="secondary"
        [value]="selectedTab"
        (ionChange)="onTabChange($event)"
      >
        <ion-segment-button
          value="avatar"
          routerLinkActive="segment-button-checked"
          routerLink="/avatar"
        >
          <ion-label>Avatar</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="packs"
          routerLinkActive="segment-button-checked"
          routerLink="/packs"
        >
          <ion-label>Packs</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="roadmap"
          routerLinkActive="segment-button-checked"
          routerLink="/roadmap"
        >
          <ion-label>Roadmap</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="games"
          routerLinkActive="segment-button-checked"
          routerLink="/games"
        >
          <ion-label>Games</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div slot="end" class="ion-text-center actions">
        <ion-button color="secondary" size="small">
          Connect Wallet
        </ion-button>
        <ion-button id="menuButton" color="secondary" size="small">
          ...
        </ion-button>

        <ion-popover trigger="menuButton">
          <ng-template>
            <ion-content color="light">
              <ion-list>
                <ion-item
                  color="light"
                  [button]="true"
                  [detailIcon]="false"
                  (click)="openAbout()"
                >
                  <ion-icon
                    name="information-circle-outline"
                    slot="start"
                  ></ion-icon>
                  <ion-label>About</ion-label>
                </ion-item>
                <ion-item
                  color="light"
                  href="https://github.com/jokio"
                  target="_blank"
                  detailIcon="open-outline"
                >
                  <ion-icon
                    name="logo-github"
                    slot="start"
                  ></ion-icon>
                  <ion-label>Github</ion-label>
                </ion-item>
                <ion-item
                  color="light"
                  href="https://discord.gg/dV5ymCYWBG"
                  target="_blank"
                  detailIcon="open-outline"
                >
                  <ion-icon
                    name="logo-discord"
                    slot="start"
                  ></ion-icon>
                  <ion-label>Discord</ion-label>
                </ion-item>
                <!-- <ion-item color="light">
                  <ion-label>Credits</ion-label>
                </ion-item> -->
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </ion-toolbar>
  </header>
  <ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <router-outlet></router-outlet>
  </ion-content>

  <ion-segment
    class="mobileScreen"
    color="secondary"
    [value]="selectedTab"
    (ionChange)="onTabChange($event)"
  >
    <ion-segment-button
      value="avatar"
      routerLinkActive="segment-button-checked"
      routerLink="/avatar"
    >
      <ion-label>Avatar</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="packs"
      routerLinkActive="segment-button-checked"
      routerLink="/packs"
    >
      <ion-label>Packs</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="roadmap"
      routerLinkActive="segment-button-checked"
      routerLink="/roadmap"
    >
      <ion-label>Roadmap</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="games"
      routerLinkActive="segment-button-checked"
      routerLink="/games"
    >
      <ion-label>Games</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-app>
