header {
  background: var(--jok-background-color);
  transition: 100ms linear;
  height: 77px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;

  ion-toolbar {
    --background: transparent;
    align-items: center;
  }

  .logo {
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    ion-icon {
      height: 40px;
      width: 50px;
      color: white;
      margin-top: -4px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 250px;
  }

  &.separatorLine {
    border-bottom: 1px solid #363636;

    background: #303030;
  }

  .avatar {
    margin-left: 5px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.07);
    }

    img {
      height: 55px;
    }
  }

  .userProfileButton {
    span.balance {
      margin-right: 7px;
    }

    span.chain {
      margin-left: 5px;
    }
  }
}

ion-content {
  --background: var(--jok-background-color);
  --color: white;
}

ion-segment {
  --ion-color-step-350: var(--ion-color-secondary);
  align-self: center;
  min-height: 36px;

  ion-segment-button {
    // --ion-background-color: red;
    min-width: 115px;
    color: white;

    ion-label {
      color: white;
    }
  }

  &.mobileScreen {
    display: none;
    align-self: center;
    position: fixed;
    bottom: 24px;
    width: 460px;
    left: 50%;
    margin-left: -230px;
    background: white;
    box-shadow: 0 0 7px #9d9d9d;

    ion-segment-button {
      color: var(--ion-color-contrast);

      ion-label {
        color: var(--ion-color-contrast);
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  header {
    .logo {
      min-width: 70px;
    }
  }

  ion-segment {
    &.desktopScreen {
      margin-left: 0;
    }
  }
}

// overrides
@media only screen and (max-width: 790px) {
  ion-segment.desktopScreen {
    ion-segment-button {
      min-width: 80px;
    }
  }

  ion-content {
    --padding-bottom: 100px;
  }
}

@media only screen and (max-width: 700px) {
  ion-segment {
    &.desktopScreen {
      display: none;
    }

    &.mobileScreen {
      display: flex;
    }
  }

  ion-content {
    --padding-bottom: 100px;
  }
}

@media only screen and (max-width: 480px) {
  ion-segment {
    &.mobileScreen {
      width: 400px;
      margin-left: -200px;

      ion-segment-button {
        min-width: unset;
      }
    }
  }
}

@media only screen and (max-width: 405px) {
  ion-segment {
    &.mobileScreen {
      width: 360px;
      margin-left: -180px;

      ion-segment-button {
        min-width: unset;
      }
    }
  }
}
