<header class="centered ion-padding">
  <h2>Your Avatar for Web3</h2>
  <p class="info">
    Welcome to Jokland! Avatar defines the identity here. Build your
    own!
  </p>
</header>
<section class="preview"></section>
<section class="centered ion-padding">
  <div class="ion-text-center">
    <ion-button
      target="_blank"
      color="secondary"
      (click)="openBuilder()"
    >
      Build Now
    </ion-button>
  </div>
</section>

<section class="centered ion-padding">
  <h3>NFTs</h3>
  <p>
    Each Avatar Item (T-Shirt, Glasses, Face Mask, etc.) will
    represent NFT and you will be able to build your avatar by
    composing different Avatar Items.
  </p>
  <p>
    You will have common Avatar Items available for free and you can
    get additional ones from Packs. Check out
    <a (click)="goToPacks()" class="cursor">
      <ion-text color="secondary"> Packs </ion-text>
    </a>
    page for more info.
  </p>
</section>

<section class="centered ion-padding">
  <h3>Creators</h3>
  <p>
    Everyone can be a creator and publish Avatar Packs permissionless
    way. We will provide all necessary tooling.
  </p>
  <p>
    Creators will define the price for their collections of Avatar
    Items. And they will get all the income.
  </p>
</section>

<section class="centered ion-padding">
  <h3>Partner Apps</h3>
  <p>
    All web3 apps can use the Avatar. Use our js SDK and you will have
    the avatar of any user (ethereum address).
  </p>
</section>

<section class="centered ion-padding rarityLevels">
  <h3>Item Rarity</h3>
  <p>
    Each Avatar Item will have its Rarity Level. The Creator will
    define the item's rarety level based on the supply.
  </p>

  <i>Rarity Levels:</i>
  <ul>
    <li>
      <ion-badge color="common">Common</ion-badge>
      - Unlimited and available for everyone
    </li>
    <li>
      <ion-badge color="uncommon">Uncommon</ion-badge>
      - Limited supply, max: 8000
    </li>
    <li>
      <ion-badge color="rare">Rare</ion-badge>
      - Limited supply, max: 2000
    </li>
    <li>
      <ion-badge color="epic">Epic</ion-badge>
      - Limited supply, max: 500
    </li>
    <li>
      <ion-badge color="legendary">Legendary</ion-badge>
      - Limited supply, max: 10 (for legendary users)
    </li>
    <li>
      <ion-badge color="artifact">Artifact</ion-badge>
      - No supply. Only one copy of the item will exist.
    </li>
  </ul>
</section>

<section class="centered ion-padding privacy">
  <h3>Privacy</h3>
  <p>
    We don't ask for any personal data like <i>name</i>, <i>age</i>,
    <i>gender</i>, etc.
  </p>
  <p>
    This is a virtual world and you can be anyone you always wanted.
    Just build the Avatar, have fun and gain a reputation based on
    your actions.
  </p>
  <p>We don't track you by 3rd party tools like Google Analytics.</p>
  <p>
    All source code is open-sourced and available on our
    <a href="https://github.com/jokio" target="_blank">
      <ion-text color="secondary">github page</ion-text> </a
    >.
  </p>
</section>

<br />
<br />
