<header class="centered ion-padding">
  <h2>Your Avatar for Web3</h2>
  <p>
    Welcome to Jokland! Avatar defines identity here. Build your one!
  </p>
</header>
<section class="preview"></section>
<section class="centered ion-padding">
  <div class="ion-text-center">
    <ion-button
      href="https://app.jok.ge/avatar/edit"
      target="_blank"
      color="secondary"
      disabled
    >
      Build Now
    </ion-button>
  </div>
</section>

<section class="centered ion-padding">
  <h3>NFTs</h3>
  <p>
    Each Avatar Component (T-Shirt, Glasses, Face Mask, etc.) will
    represent NFT and you will be able to build your avatar by
    composing different Avatar Components. Eech Avatar Component
    (T-Shirt, Glasses, Face Mask, etc.) will represent NFT and you
    will be able to build your avatar by composing different Avatar
    Components.
  </p>
  <p>
    You will have common Avatar Components available for free and
    additional ones will be available on the
    <a (click)="goToPacks()" class="cursor">
      <ion-text color="secondary"> Packs </ion-text></a
    >
    page.
  </p>
</section>

<section class="centered ion-padding">
  <h3>Creators</h3>
  <p>
    Everyone can be a creator and publish Avatar Packs permissionless
    way. We will just provide the necessary tooling.
  </p>
  <p>
    Creators will define the price for their collections of Avatar
    Components. And they will get all the income.
  </p>
</section>

<section class="centered ion-padding">
  <h3>Partner Apps</h3>
  <p>
    All web3 apps can use the Avatar. Use our js SDK and you will have
    the avatar of any user (ethereum address).
  </p>
</section>
