header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

section:not(.preview) {
  border-top: 1px solid rgba(255, 255, 255, 0.07);

  ion-button {
    min-width: 180px;
  }
}

.preview {
  height: 400px;
  background: url('/assets/avatar_users.png') center center repeat-x;
  background-size: 550px;
}

p {
  line-height: 26px;
}

a.cursor {
  cursor: pointer;
}

.rarityLevels {
  ul {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 14px;
      display: flex;
      align-items: center;

      ion-badge {
        min-width: 100px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
      }
    }
  }
}

@media only screen and (max-width: 405px) and (max-height: 670px) {
  .preview {
    height: 276px;
    background-size: 400px;
  }

  header {
    h2 {
      margin-top: 7px;
    }

    p.info {
      margin-bottom: 0;
    }
  }
}
