<header class="centered ion-padding">
  <h2>Web3 Games</h2>
  <p>
    We believe online games should work the decentralized way as a
    protocol. Think about Poker protocol, or TikTakToe protocol, like
    email protocols (SMTP, POP3). This means everyone can write their
    client and use the same protocol.
  </p>
  <p>
    Our vision is to store all assets on IPFS (like this website). To
    keep all NFTs in Blockchain. The only missing piece is a real-time
    communication mechanism for online games.
  </p>
  <p>
    We plan to solve this problem and provide a decentralized
    real-time communication solution. Everyone will be able to use our
    js SDK and create web3 online games.
  </p>

  <p>
    We think games are minimal building blocks, which should be free
    for everyone to play and lots of abstractions will be built on top
    of it in a near future.
  </p>

  <div>
    You can be part of this process, join us:

    <ul>
      <li>
        Discord:
        <a href="https://discord.gg/dV5ymCYWBG"
          >https://discord.gg/dV5ymCYWBG</a
        >
      </li>
      <li>
        Github:
        <a href="https://github.com/jokio"
          >https://github.com/jokio</a
        >
      </li>
    </ul>
    <br />
    <i>Jok Entertainers, Inc.</i>
    <br />
    <br />
    <br />
  </div>
</header>
